
  <div class="flex flex-wrap gap-4">
    <div *ngFor="let content of page.content" class="w-12 md:w-24rem">
      <p-card 
        header= {{content.title}}
        subheader="Publicado por {{content.publisher.name}}, {{content.publishedDateTime | date: 'dd/MM/yyyy'}}"
        styleClass="h-full"
      >
        <ng-template pTemplate="header">
          <img
            style="width: 100%; height: 20vh; object-fit:cover"
            alt="Card"
            src="{{content.coverImage.urls[0].url}}"
          />
        </ng-template>
        <div class="flex flex-column gap-3">
          <div class="flex flex-wrap gap-2 h-4rem">
            <p-tag
              icon="pi pi-file"
              value="{{content.contentType}}"
              severity="success"
              pTooltip="Tipo de conteúdo"
              styleClass="h-2rem p-2"
            ></p-tag>
            <p-tag
              icon="pi pi-globe"
              value={{content.language.name}}
              severity="info"
              pTooltip="Idioma"
              styleClass="h-2rem p-2"
            ></p-tag>
            <p-tag
              icon="pi pi-building"
              value={{content.studyField.name}}
              severity="danger"
              pTooltip="Área de estudo"
              styleClass="h-2rem p-2"

            ></p-tag>
          </div>
          <div class="pt-3">
            Assuntos
            <div class="flex flex-wrap gap-2">
              <p *ngFor="let subject of content.subjects">
                <p-tag
                  [style]="{ background: '#64748B' }"
                  styleClass="h-2rem p-2"
                  value={{subject}}>
                </p-tag>
              </p>
          </div>
          </div>
          <div class="">
            Autores
            <div class="flex flex-wrap gap-2">
              <p *ngFor="let author of content.authors">
                <p-tag 
                  [style]="{ background: '#64748B' }" 
                  styleClass="h-2rem p-2"
                  value={{author}}>
                </p-tag>
              </p>
          </div>
          </div>
          <div class="flex justify-content-between ">
            <span class=" pi pi-clock" pTooltip="Duração"> {{content.durationMinutes}} minutos</span>
            <div class="flex gap-3">
              <span class="pi pi-star" pTooltip="Avaliações"> {{content.rating}}</span>
              <span class="pi pi-user" pTooltip="Avaliadores"> {{content.reviewers}}</span>
            </div>
          </div>
          <div class="flex gap-3 py-3">
            <span class="pi pi-money-bill" pTooltip="Preço"> {{content.price?.currency?.code}}</span>
            <span> ${{content.price?.amount | number: '1.2'}}</span>
          </div>
        </div>
        <ng-template pTemplate="footer">
          <div class="flex justify-content-evenly">
            <p-button
              icon="pi pi-external-link"
              [outlined]="true"
              pTooltip="{{content.url}}"
              (onClick)="openExternalLink(content.url)"
            ></p-button>
            <p-button
              icon="pi pi-bookmark"
              [outlined]="true"
              [rounded]="true"
              severity="help"
              pTooltip="Salvar para mais tarde"
            ></p-button>
            <p-button
              icon="pi pi-check"
              [outlined]="true"
              [rounded]="true"
              severity="success"
              pTooltip="Marcar como concluído"
            ></p-button>
            <p-button
              icon="pi pi-star"
              [outlined]="true"
              [rounded]="true"
              severity="warning"
              pTooltip="Avaliar conteúdo"
            ></p-button>
          </div>
        </ng-template>
      </p-card>
    </div>
  </div>

  <div class="w-10">
    <p-paginator (onPageChange)="onPageChange($event)"[rows]="pageSize" [totalRecords]="totalElements" [rowsPerPageOptions]="defaultPageSizes"></p-paginator>
  </div>

