<main>
  <div *ngFor="let content of page.content">
    <p-card
      header= {{content.title}}
      subheader="Publicado por {{content.publisher.name}}, {{content.publishedDateTime}} "
   >
      <ng-template pTemplate="header">
        <img
          style="width: 100%; height: 200px; object-fit:cover"
          alt="Card"
          src="{{content.coverImage.urls[0].url}}"
        />
      </ng-template>
      <div>
        <p-tag
          styleClass="mx-1"
          icon="pi pi-file"
          value={{content.contentType}}
          severity="success"
          pTooltip="Tipo de conteúdo"
        ></p-tag>
        <p-tag
          styleClass="mx-1"
          icon="pi pi-globe"
          value={{content.language.name}}
          severity="warning"
          pTooltip="Idioma"
        ></p-tag>
        <p-tag
          styleClass="mx-1"
          icon="pi pi-building"
          value={{content.studyField.name}}
          severity="danger"
          pTooltip="Área de estudo"
        ></p-tag>
      </div>
      <div class="pt-4 mx-1">
        Assuntos
        <p *ngFor="let subject of content.subjects">
          <p-tag
            [style]="{ background: '#64748B' }"
            styleClass="mx-1"
            value={{subject}}
          >
          </p-tag>
        </p>
      </div>
      <div class="pt- mx-1">
        Autores
        <p *ngFor="let author of content.authors">
          <p-tag [style]="{ background: '#64748B' }" value={{author}}> </p-tag>
        </p>
      </div>
      <div class="pt-2">
        <span class="m-2 pi pi-clock" pTooltip="Duração">{{content.durationMinutes}} minutos</span>
      </div>
      <div class="pt-3">
        <span class="mx-2 mt-2 pi pi-star" pTooltip="Avaliações">{{content.rating}}</span>
        <span class="mx-2 mt-2 pi pi-user" pTooltip="Avaliadores">{{content.reviewers}}</span>
      </div>

      <ng-template pTemplate="footer">
        <p-button
          styleClass="mx-1"
          icon="pi pi-external-link"
          [outlined]="true"
          pTooltip="Ir para conteúdo"
        ></p-button>
        <p-button
          styleClass="mx-1"
          icon="pi pi-bookmark"
          [outlined]="true"
          [rounded]="true"
          severity="help"
          pTooltip="Salvar para mais tarde"
        ></p-button>
        <p-button
          styleClass="mx-1"
          icon="pi pi-check"
          [outlined]="true"
          [rounded]="true"
          severity="success"
          pTooltip="Marcar como concluído"
        ></p-button>
        <p-button
          styleClass="mx-1"
          icon="pi pi-star"
          [outlined]="true"
          [rounded]="true"
          severity="warning"
          pTooltip="Avaliar conteúdo"
        ></p-button>
      </ng-template>
    </p-card>
  </div>

  <div>
    <p-paginator (onPageChange)="onPageChange($event)"[rows]="pageSize" [totalRecords]="totalElements" [rowsPerPageOptions]="[pageSize]"></p-paginator>
  </div>
</main>