<main>
    <div class="flex p-3 justify-content-between w-9" >
        <div class="flex gap-3">
            <p-selectButton [options]="modeOptions" [(ngModel)]="modeValue" optionLabel="label" optionValue="value"></p-selectButton>
            <p-button label="Novo" icon="pi pi-plus" iconPos="right" [text]="true" [raised]="true"></p-button>

        </div>

        <div class="flex gap-6">
            <div class="p-float-label">
                <p-dropdown [options]="sortValues" [(ngModel)]="selectedSort"></p-dropdown>
                <label for="float-label">Ordenar por</label>
            </div>
        </div>
    </div>


    <app-card-content></app-card-content>
</main>
