.card {
    background: var(--surface-card);
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 1rem;
}
    
.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 10vh;
    padding: 0 25px;
    background-color: white;
}

::placeholder {
    text-align: center; 
 }

@media(max-width: 834px) {
    .logo {
        display: none;
    }
}